.loader {
	background-image: url(../../img/loading.gif);
    background-repeat: no-repeat;
    display: none;
    width: 55px;
    height: 55px;	
}

li.jqtree-folder {
}

li.jqtree-loading span {
	padding-right: 20px;
	background-image: url(../img/ajax-loader.gif);
	background-position: right;
	background-repeat: no-repeat;
}
